@page
@model StudentAccomodation.Pages.Leasings.GetLeasingsModel
@{
}
<h1>Leasings</h1>
<br />
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Leasing Number</th>
            <th>Date From</th>
            <th>Date To</th>
            <th>Student Number</th>
            <th>Place Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.leasings)
        {
            <tr>
                <td> @item.LeasingNo </td>
                <td> @item.DateFrom.ToShortDateString() </td>
                <td> @item.DateTo.ToShortDateString() </td>
                <td> @item.StudentNo </td>
                <td> @item.PlaceNo </td>
            </tr>
        }
    </tbody>
</table>