@page
@model StudentAccomodation.Pages.Students.GetStudentsModel
@{
}
<h1>Students</h1>
<p>
    <a asp-page="/Students/WaitingList"> Waiting List</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Student Number</th>
            <th>Name</th>
            <th>Address</th>
            <th>Has Rent</th>
            <th>Registration Date</th>
            <th>Leasing</th>
            <th>Delete Student</th>
        </tr>
    </thead>
    <tbody>        
            @foreach (var item in Model.students)
            {
            <tr>
            <td> @item.StudentNo </td>
            <td> @item.SName </td>
            <td> @item.SAddress </td>
            <td> @item.HasRent </td>
            <td> @item.RegistrationDate.ToShortDateString() </td>

            @if (item.HasRent == true)
            {
                <td>
                    @*<form method="post">*@
                    <div class="form-group">
                        <input type="submit" value="Leasing" class="btn btn-success" />
                        <input value="@item.StudentNo" name="studentNo" class="btn btn-primary" hidden />
                    </div>
                    @*</form>*@
                </td>
            }
            else 
            { 
                <td></td>
            }
                
            <td>
                <a asp-page="/Students/DeleteStudent" asp-route-studentNo="@item.StudentNo">Delete</a>
            </td>
            </tr>
            }
    </tbody>
</table>